<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.OptimumHealth">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCEpt_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OptimumHealth"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Add_Data_Doctor_Activity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Editd_Activity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DetailDoctorActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ViewDoctorData"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DietplanActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DetailUserActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BookdataActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Editn_Activity"
            android:exported="false" />
        <activity
            android:name=".Add_Data_Nurse_Activity"
            android:exported="false" />
        <activity
            android:name=".DetailNurseActivity"
            android:exported="false" />
        <activity
            android:name=".ViewNurseData"
            android:exported="false" />
        <activity
            android:name=".Edit_Activity"
            android:exported="true" />
        <activity
            android:name=".Add_Data_Activity"
            android:exported="true" />
        <activity
            android:name=".DetailActivity"
            android:exported="true" />
        <activity
            android:name=".ViewPatientData"
            android:exported="true" />
        <activity
            android:name=".AboutUs"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".NurseHome"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".NurseLogin"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".AdminHome"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".AdminLogin"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ReminderActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".BookAppointmentActivity"
            android:exported="true" />
        <activity
            android:name=".DoctorDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".FindDoctorActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Signup"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar" />

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>